<%- model_class = FoodType -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:poi_type_id) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @food_types.each do |food_type| %>
      <tr>
        <td><%= food_type.id %></td>
        <td><%= link_to food_type.name, food_type_path(food_type) %></td>
        <td><%= food_type.poi_type_name %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_food_type_path(food_type), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      food_type_path(food_type),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pager @food_types %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_food_type_path,
            :class => 'btn btn-primary' %>
