<h2>Ingresar</h2>

<%= simple_form_for(resource,
	:as => resource_name,
	:url => session_path(resource_name),
	:html => { :class => 'form-horizontal'}) do |f| %>

  <%= f.input :email, required: false, autofocus: true %>
  <%= f.input :password %>

  <% if devise_mapping.rememberable? -%>
    <%= f.input :remember_me, as: :boolean, input_html: { checked: "checked" }  %>
  <% end -%>

	<div class="form-actions">
    <%= f.button :submit, "Entrar", class: 'btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
