<%= simple_form_for @chain, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :identifier %>
  <%= f.input :poi_type_id, :collection => poi_types_for_select %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                chains_path, :class => 'btn' %>
  </div>
<% end %>
