<%- model_class = Chain -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:identifier) %></th>
      <th><%= model_class.human_attribute_name(:poi_type_id) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @chains.each do |chain| %>
      <tr>
        <td><%= chain.id %></td>
        <td><%= link_to chain.name, chain_path(chain) %></td>
        <td><%= chain.identifier %></td>
        <td><%= chain.poi_type_name %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_chain_path(chain), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      chain_path(chain),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pager @chains %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_chain_path,
            :class => 'btn btn-primary' %>
