<%- model_class = AppConfiguration -%>
<div class="page-header">
  <h1><%= model_class.model_name.human %></h1>
</div>
<%= simple_form_for @configuration, :url => update_configuration_path(@configuration),
  :method => :put, :html => { :class => 'form-horizontal' } do |f| %>  
  <%= f.input :gisworking_initial_identifier %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
