#geocoding-map {
  position: relative;
  height: 500px;
  border: 1px solid #AAA;
  border-radius: 4px;
  background-color: #EEE;
  margin-bottom: 20px;
  margin-top: 20px;
}

#geocoding-map #geom-error {
  position: absolute;
  bottom: 15px;
  left: 10px;
  z-index: 50;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
  webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  color: #B94A48;
}

.map-hint {
  padding-top: 20px;
}
