<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) : "Navarra" %></title>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag "application", :media => "all" %>
<%= favicon_link_tag '/favicon.ico', :rel => 'shortcut icon' %>
<%= javascript_include_tag 'application' %>
<% if content_for? :head %>
  <%= yield :head %>
<% end %>