<div id="header" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="<%= root_path %>">Navarra</a>
      <div class="container-fluid nav-collapse">
        <ul class="nav pull-right">
          <li>
            <%= select_tag(:poi_select, nil, :class => "input-xxlarge",
              :include_blank => true, :data => {:placeholder => 'Buscar Poi...'}) %>
          </li>    
          <%= nav_item('menu.pois.new', new_poi_path) %>
          <%= nav_item('menu.pois.title', pois_path) %>
          <%= nav_item('menu.pois.duplicated', duplicated_pois_path) %>
          <%= nav_dropdown_item 'menu.reports.title' do %>
            <% nav_item('menu.reports.pois', reports_pois_path) +
            nav_item('menu.reports.users', reports_users_path) %>
          <% end if can?(:visualize, :pois_report) %>
          <% if can?(:index, AppConfiguration) %>
            <%= nav_dropdown_item 'menu.admin.title' do %>
              <% nav_item('menu.admin.app_configuration', configuration_path) +
              nav_item('menu.admin.street_types', street_types_path) +
              nav_item('menu.admin.poi_types', poi_types_path) +
              nav_item('menu.admin.chains', chains_path) +
              nav_item('menu.admin.food_types', food_types_path) +
              nav_item('menu.admin.poi_sub_types', poi_sub_types_path) +
              nav_item('menu.pois.upload', poi_loads_path) +
              nav_item('menu.users', users_path) %>
            <% end %>
          <% else %>
            <%= nav_item('menu.admin.chains', chains_path) %>
          <% end %>          
          <li class="divider-vertical"></li>
          <li><%= link_to current_user.some_identifier, edit_user_path(current_user), class: "login-name"  %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to t('menu.logout'), destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  Navarra.common.poi.initHeaderSearch();
</script>
