<%= content_for :head do %>
  <script type="text/javascript" charset="UTF-8" src="http://api.maps.nokia.com/2.2.4/jsl.js"></script>

  <script type="text/javascript">
    <% if @poi.the_geom %>
      Navarra.pois.config.lat = <%= @poi.the_geom.y %>;
      Navarra.pois.config.lon = <%= @poi.the_geom.x %>;
    <% end %>
    <% if @poi.original_object and @poi.original_object.the_geom %>
      Navarra.pois.config.originalLat = <%= @poi.original_object.the_geom.y %>;
      Navarra.pois.config.originalLon = <%= @poi.original_object.the_geom.x %>;
    <% end %>
  </script>
<% end %>

<%= simple_form_for @poi, :html => { :class => 'form-vertical', :id => 'poi-form' } do |f| %>
<%= f.hidden_field :longitude %>
<%= f.hidden_field :latitude %>
<div class="row-fluid">
  <div id="possible_duplicates" class="span12">
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <div class="row-fluid">
      <div class="span4">
        <%= f.input :poi_status_id, :collection => poi_statuses_for_select %>
      </div>
      <div class="span4">
        <%= f.input :identifier %>
      </div>
      <div class="span4">
        <%= f.input :duplicated_identifier  %>
      </div>      
    </div>
    <div class="row-fluid">
      <div class="span4">
        <%= f.input :old_identifier %>
      </div>
      <div class="span4">
        <% set_poi_user %>
        <%= f.input :user_id, :collection => users_for_select %>
      </div>
      <div class="span2">
        <%= f.input :active %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2">
        <%= f.association :p_action, prompt: "Elije una accion" %>
      </div>
    </div>
    <div class="row-fluid">
      <div id="geocoding-map" class="span12">
        <%= select_tag "map-type", options_for_select(nokia_map_types_for_select) %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12" style="margin-bottom: 20px;">
        <%= field_set_tag t("views.poi.form.fieldsets.map_actions") do %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <%= link_to t("views.poi.form.buttons.add_location"), "#", :class => 'btn', :id => 'add-marker-btn' %>
      </div>
      <div class="span9">
        <%= t("views.poi.form.map.add_location_hint").html_safe %>
      </div>
    </div>
    <div class="row-fluid map-hint">
      <div class="span3">
        <%= link_to t("views.poi.form.buttons.suggest_location"), "#", :class => 'btn', :id => 'suggest-locations-btn' %>
      </div>
      <div class="span9">
        <%= t("views.poi.form.map.suggest_location_hint").html_safe %>
        <% end %>
      </div>      
    </div>
    <div class="row-fluid">
      <div class="span12" style="margin-bottom: 20px; margin-top: 20px;">
        <%= field_set_tag t("views.poi.form.fieldsets.map_legend") do %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3" style="text-align: center;">
        <%= image_tag('selected-marker.png') %>
      </div>
      <div class="span9">
        <%= t("views.poi.form.map.legend.selected") %>
      </div>
    </div>
    <div class="row-fluid map-hint">
      <div class="span3" style="text-align: center;">
        <%= image_tag('suggested-marker.png') %>
      </div>
      <div class="span9">
        <%= t("views.poi.form.map.legend.suggested") %>
      </div>
    </div>
    <div class="row-fluid map-hint">
      <div class="span3" style="text-align: center;">
        <%= image_tag('initial-marker.png') %>
      </div>
      <div class="span9">
        <%= t("views.poi.form.map.legend.initial") %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="span3">
    <%= field_set_tag t("views.poi.form.fieldsets.poi") do %>
      <%= f.input :name, hint: poi_hint(:name) %>
      <%= f.input :poi_source_id, :collection => poi_sources_for_select, hint: poi_hint(:poi_source_name) %>
      <%= f.input :poi_type_id, :collection => poi_types_for_select, hint: poi_hint(:poi_type_name) %>
      <%= f.input :poi_sub_type_id, :collection => poi_type_sub_types_for_select(@poi.poi_type_id), hint: poi_hint(:poi_sub_type_name) %>
      <%= f.input :food_type_id, :collection => poi_type_food_types_for_select(@poi.poi_type_id), hint: poi_hint(:food_type_name) %>
      <%= f.input :chain_id, :collection => poi_type_chains_for_select, hint: poi_hint(:chain_name) %>
    <% end %>
    <%= field_set_tag t("views.poi.form.fieldsets.location") do %>
      <%= f.input :city_id, :collection => city_for_chosen(@poi.city_id), hint: poi_hint(:city_complete_name) %>
      <%= f.input :street_type_id, :collection => street_types_for_select, hint: poi_hint(:street_type_name) %>
      <%= f.input :street_name, hint: poi_hint(:street_name) %>
      <%= f.input :house_number, hint: poi_hint(:house_number) %>
      <%= f.input :location, as: :text, hint: poi_hint(:location) %>
    <% end %>
  </div>
  <div class="span2">
    <%= field_set_tag t("views.poi.form.fieldsets.contact") do %>
      <%= f.input :phone, hint: poi_hint(:phone) %>
      <%= f.input :second_phone, hint: poi_hint(:second_phone) %>
      <%= f.input :fax, hint: poi_hint(:fax) %>
      <%= f.input :cel_number, hint: poi_hint(:cel_number) %>
      <%= f.input :email, hint: poi_hint(:email) %>
      <%= f.input :second_email, hint: poi_hint(:second_email) %>
      <%= f.input :website, hint: poi_hint(:website) %>
      <%= f.input :contact, hint: poi_hint(:contact) %>
    <% end %>
    <%= field_set_tag t("views.poi.form.fieldsets.other") do %>
      <%= f.input :note, as: :text, hint: poi_hint(:note) %>
      <%= control_group(f.text_field(:control_date, :as => :datepicker, :value => formatted_control_date), Poi.human_attribute_name(:control_date))  %>
    <% end %>
  </div>  
</div>
<div class="form-actions">
  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")), pois_path, :class => 'btn' %>
</div>
<% end %>
