<%- model_class = Poi -%>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th><%= order_link Poi, :id %></th>      
      <th><%= order_link Poi, :identifier %></th>
      <th><%= order_link Poi, :old_identifier %></th>
      <th><%= order_link Poi, :control_date %></th>
      <th><%= order_link Poi, :name %></th>
      <th><%= order_link Poi, :street_name %></th>
      <th><%= order_link Poi, :city_name %></th>
      <th><%= order_link Poi, :poi_type_name %></th>
      <th><%= order_link Poi, :poi_source_name %></th>
      <th><%= order_link Poi, :user_name %></th>
      <th><%= order_link Poi, :poi_status_name %></th>
      <th><%= order_link Poi, :active %></th>
      <th><%= order_link Poi, :deleted %></th>
      <th colspan=2 style="text-align:right;"></th>
    </tr>
  </thead>
  <tbody>
    <% @pois.each do |poi| %>
      <tr>
        <td><%= poi.id %></td>
        <td><%= poi.identifier %></td>
        <td><%= poi.old_identifier %></td>
        <td><%= l(poi.control_date, :format => :long) if poi.control_date %></td>        
        <td><%= link_to poi.name, poi_path(poi) %></td>
        <td><%= poi.street_name %></td>
        <td><%= poi.city_complete_name %></td>
        <td><%= poi.poi_type_name %></td>
        <td><%= poi.poi_source_name %></td>
        <td><%= poi.user_name %></td>
        <td><%= poi_status_label poi %></td>
        <td><%= poi.human_active %></td>
        <td><%= poi.human_deleted %></td>
        <%= table_action_button(edit_poi_path(poi), "pencil", :title => "helpers.links.edit").html_safe %>
        <%= table_action_button(poi_path(poi), "trash", :title => "helpers.links.destroy", :method => :delete, :confirm => t("helpers.links.confirm")).html_safe %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pager @pois %>