<%- model_class = Poi -%>

<div class="page-header row-fluid">
  <div class="span3">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>
  <div class="span8" style="text-align: right;">
    <% if can? :download, :pois %>
      <div style="display: inline-block;">
        <%= form_for "download", :url => download_pois_path,        
          :html => {:method => :get, :class => "form-inline"} do |f| %>  
          <%= render_search_hidden_fields f, params[:q] %>
          <%= f.text_field :prefix, :placeholder => "Ingrese prefijo identificadores..." %>
          <%= f.submit t("views.poi.index.buttons.download"), :class => 'btn' %>
        <% end %>
      </div>
    <% end %>
    <%= link_to(t('views.poi.index.buttons.deliver'),
      deliver_pois_path({:q => params[:q]}),
      :data => {:confirm => t('views.poi.index.messages.deliver_warning')},
      :class => 'btn btn-danger') if can? :deliver, :pois %>
  </div>
  <div class="span1" style="text-align: right;">
    <h4><%= t("views.poi.index.pois_count", :count => @pois.count) %></h4>
  </div>
</div>

<%= render :partial => "search_panel" %>
<%= render :partial => "table" %>
