<div class="page-header">
  <h1><%= t 'views.reports.pois.title' %></h1>
</div>

<%= render :partial => "/pois/search_panel" %>

<div class="row-fluid">
	<div class="span6">
		<table class="table table-striped table-condensed">
		  <thead>
		    <tr>
		      <th><%= t("views.reports.pois.table.columns.poi_type") %></th>      
		      <th><%= t("views.reports.pois.table.columns.total") %></th>
		      <th>%</th>
		    </tr>
		  </thead>
		  <tbody>
		    <% @poi_type_totals.last.each do |country_data| %>
		      <tr>
		        <td><%= country_data[:poi_type] %></td>
		        <td><%= country_data[:total] %></td>
		        <td><%= calculate_percent @poi_type_totals.first, country_data[:total] %></td>
		      </tr>
		    <% end %>
		  </tbody>
		  <tfoot>
				<tr>
					<td />			
		      <td><%= @poi_type_totals.first %></td>
		      <td>100.00%</td>
		    </tr>
		  </tfoot>
		</table>
	</div>
	<div class="span6">
		<table class="table table-striped table-condensed">
		  <thead>
		    <tr>
		      <th><%= t("views.reports.pois.table.columns.country") %></th>      
		      <th>Nuevos</th>
		      <th>Actualizados</th>
		      <th><%= t("views.reports.pois.table.columns.country") %></th>
		    </tr>
		  </thead>
		  <tbody>
		    <% @country_totals.last.each do |country_data| %>
		      <tr>
		        <td><%= country_data[:country] %></td>
		        <td><%= country_data[:gisworking] %></td>
		        <td><%= country_data[:navteq] %></td>
		        <td><%= country_data[:total] %></td>
		      </tr>
		    <% end %>
		  </tbody>
		  <tfoot>
				<tr>
					<td colspan=3/>
		      <td><%= @country_totals.first %></td>
		    </tr>
		  </tfoot>
		</table>
	</div>
<div>
