<div class="page-header">
  <h1><%= t 'views.reports.users.title' %></h1>
</div>

<%= render :partial => "/pois/search_panel" %>

<div class="row-fluid">
	<div class="span6">
		<table class="table table-striped table-condensed">
		  <thead>
		    <tr>
		      <th><%= t("views.reports.pois.table.columns.country") %></th>
		      <th><%= t("views.reports.pois.table.columns.source") %></th>
		      <th><%= t("views.reports.pois.table.columns.user") %></th>
		      <th><%= t("views.reports.pois.table.columns.qty") %></th>
		    </tr>
		  </thead>
		  <tbody>
		    <% @totals.each do |country_data| %>
		      <tr>
		        <td><%= country_data[:country] %></td>
		        <td></td>
		        <td></td>
		        <td></td>
          </tr>
          <% country_data[:source_data].each do |source_data| %>
            <tr>
            	<td></td>
              <td><%= source_data[:source] %></td>
              <td></td>
              <td></td>
            </tr>
            <% source_data[:user_data].each do |user_data| %>
            	<% unless user_data[:total].nil? or user_data[:total].zero? %>
		            <tr>
		            	<td></td>
		              <td></td>
		              <td><%= user_data[:user] %></td>
		              <td><%= user_data[:total] %></td>
		            </tr>
		          <% end %>
	          <% end %>
          <% end %>	          	      
		    <% end %>
		  </tbody>
		</table>
	</div>
</div>