<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => 'common/head' %>
  </head>
  <body>
  <div class="navbar navbar-fluid-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="<%= root_path %>">Navarra</a>
      </div>
    </div>
  </div>    
    <div class="container-fluid">
      <div class="row-fluid">    
        <div class="span12">
          <%= flash_messages %>
          <%= yield %>
        </div>
      </div>      
    </div>
    <%= render :partial => 'common/footer' %>
  </body>
</html>
